<!doctype html>
<html>
  <head prefix="og: http://ogp.me/ns# reno: http://ogp.me/ns/apps/reno#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ title }} | {{ pkg.name }}</title>
    <meta name="keywords" content="{{ pkg.keywords.join(',') }}">
    <meta name="description" content="{{ pkg.description }}">
    <meta property="csrf" id="csrf" content="{{ csrf_token }}">

    {# Opengraph tags #}
    <meta property="fb:app_id" content="">
    <meta property="og:title" content=pkg.name + ' - ' + title>
    <meta property="og:description" content=pkg.description>
    <meta property="og:url" content="https://github.com/sfdevlabs/reno">
    <meta property="og:site_name" content="RENO">
    <meta property="fb:admins" content="">

    {% block head %}
      {# Styles #}
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/app.css">
      <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
      <link rel="stylesheet" href="/css/react.tagged.input.css">

    {% endblock %}
  </head>

  {# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries #}
  <!--[if lt IE 9]>
    <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
    <script src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'></script>
  <![endif]-->
